.shop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;;
  min-width: 250px;
}

/* center button */
.shop-button {
  display: block;
  user-select: none;
}

.shop-list-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.shop-list-wrapper > p {
  text-align: center;
}

.shop-list {
  max-height: 225px;
  overflow: visible;
  overflow-y: scroll;
}

.shop-list-item {
  display: grid;
  padding: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: visible;
}

.shop-list-item a {
  user-select: none;
}

.shop-list-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4px;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  justify-content: space-between;
  background-color: #303030;
  border-radius: 10px 10px 0 0;
}

.shop-list-header > div {
  text-align: center;
  user-select: none;
}

.shop-list-item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: transform 0.3s ease;
}

.shop-list-item > div {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;

}

.shop-list-item-name:hover  {
  transform: scale(1.2);
  white-space: normal;
}

.info-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none !important;
}

.info-button svg {
  transition: transform 0.2s ease-in-out;
}

.info-button:hover svg {
  transform: scale(1.2);
}

.info-svg {
  width: 1em;
  height: 1em;
  margin: 0 0.5em;
}

.item-vote-button {
  border-radius: 50%;
  width: 1px;
  height: 1px;
}

.user-not-logged-in {
  transition: transform .3s ease, opacity 1s ease;
  position: absolute;
  top: -3.5rem;
  left: 50%;
  background-color: #1b2f3d;
  transform: translate(-50%);
  width: fit-content;
  border-radius: 4px;
  border: 1px solid #ed6c2d;
  text-wrap: nowrap;
  padding: 4px 8px;
  user-select: none;
  opacity: 0;
}

.show-user-not-logged-in {
  transform: translate(-50%, 3.5rem);
  opacity: 1;
  transition: transform .3s ease;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #373737;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #646464;
}