#root {
  max-width: 500px;
  text-align: left;
  padding: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.main-no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.pres-text {
  margin: -1rem -1rem 0;
  padding: 1rem;
  background-color: #1b2f3d;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-wrapper {
  position: relative;
  display: inline-block;
}

.profile-picture {
  display:block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0 2px 2px 0;
}

.signout-icon {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in-out;
  border-radius: inherit;
}

.profile-wrapper:hover .signout-icon,
.profile-wrapper:hover .signout-text {
  opacity: 1;
  pointer-events: auto;
}

.signout-text {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-120%);
  margin-top: 4px;
  padding: 2px 6px;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  pointer-events: none;
  user-select: none;
}

/* Optional: size/color the SVG icon */
.signout-icon svg {
  width: 70%;
  height: 70%;
  color: white; /* if the SVG uses currentColor */
  /* or use fill: white; depending on your SVG */
}